---
import { Icon } from 'astro-icon/components';
import { Image } from 'astro:assets';
import SocialLink from '../components/SocialLink.astro';
import { socials } from '../data/contact';
import pfp from '../images/me-288px.webp';
import Layout from '../layouts/BaseLayout.astro';
---

<Layout pageTitle="Nikita Pashinsky">
	<div class="flex flex-col gap-16">
		<div
			class="flex max-w-sm flex-col gap-4 text-2xl font-medium leading-snug tracking-tight"
		>
			<h1>Hi&thinsp;—&thinsp;thanks for stopping by.</h1>
			<p>
				I'm <Image
					src={pfp}
					width={24}
					densities={[1.5, 2, 3]}
					class="-mt-1 ml-1 inline rounded-full"
					alt="That's me!"
				/>&nbsp;Nikita, a designer focused on crafting beautiful software.
			</p>
			<p>
				Currently <Icon name="WorkBadge" />&nbsp;Product Designer at&nbsp;<a
					href="https://piano.io"
					target="_blank"
					class="decoration-2 underline-offset-[4px]">Piano</a
				>, based in <Icon name="Location" />&nbsp;Amsterdam.
			</p>
		</div>
		<div class="-ml-2 flex max-w-sm flex-col">
			{
				socials.map(({ icon, link, title, handle, subtitle }) => {
					if (icon === 'Email') {
						return (
							<div class="flex grow items-center gap-2">
								<SocialLink {icon} {link} {title} {handle} {subtitle} />
								<div class="">
									<button
										id="CopyEmailButton"
										aria-label="Copy email address"
										class="text-textTertiary hover:text-textPrimary active:text-textPrimary group flex h-10 grow-0 items-center gap-[2px] rounded-lg pl-3 pr-4 text-sm hover:bg-neutral-100 active:bg-neutral-100 dark:hover:bg-neutral-900 dark:active:bg-neutral-900"
									>
										<Icon
											name="Copy"
											size={24}
											class="text-iconSecondary group-hover:text-iconPrimary"
										/>
										<span id="CopyEmailText">Copy</span>
									</button>
								</div>
							</div>
						);
					}
					return <SocialLink {icon} {link} {title} {handle} {subtitle} />;
				})
			}
		</div>
	</div>
</Layout>

<script>
	const copyEmailButton = document.querySelector('#CopyEmailButton');
	const copyEmailText = document.querySelector('#CopyEmailText');

	function copyEmail() {
		navigator.clipboard.writeText('nikitapashinsky@gmail.com');
		copyEmailText!.textContent = 'Copied!';
		setTimeout(() => {
			copyEmailText!.textContent = 'Copy';
		}, 2000);
	}

	if (copyEmailButton) {
		copyEmailButton.addEventListener('click', copyEmail);
	}
</script>

<style>
	@reference "tailwindcss";

	[data-icon='WorkBadge'] {
		@apply -ml-[2px] -mr-[3px] -mt-[5px] inline text-cyan-500 dark:text-cyan-400;
	}

	[data-icon='Location'] {
		@apply -mr-1 -mt-1 inline text-blue-600 dark:text-blue-500;
	}
</style>
